<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<global>
		<connections>
			<connection jid="wegeh0mat@tuxzone.org">
				<option name="password">wegeh0mat</option>
			</connection>
		</connections>
	</global>
	<plugins>
		<plugin package="wegeh0mat_plugins" module="muc_plugin" class="MucPlugin">
			<instance jid="wegeh0mat@tuxzone.org">
				<option name="room">test@conference.tuxzone.org</option>
				<option name="nick">wegeh0mat</option>
			</instance>
		</plugin>
	</plugins>
	<workers>
		<worker package="wegeh0mat_workers" module="weggeh_core_worker" class="WeggehWorker" >
			<option name="foo">bar</option>
		</worker>
	</workers>
</config>